---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

// 1. Generate a new path for every collection entry at build
export async function getStaticPaths() {
    const prodDocs = await getCollection("productDocumentation");
    return prodDocs.map(page => ({
        params: { id: page.id },
        props: { page, frontmatter: page.data },
    }));
}

const { page, frontmatter } = Astro.props;
const {Content} = await render(page);
---
<Layout>
    <h1>{frontmatter.title}</h1>
    <Content />
</Layout>