---
---
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/sourcing">Sourcing</a>
        </li>
        <li>
            <a href="/icons">Icons</a>
        </li>
    </ul>
</nav>